<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAAppGroupID</key>
	<string>group.com.ypg.nev.group</string>
	<key>BAHasManagedAssetPacks</key>
	<true/>
	<key>BAUsesAppleHosting</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.tuapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp</string>
				<string>laley</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Neville Export</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ypg.neville.ypgexp</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Neville necesita acceso a tu biblioteca musical para que puedas seleccionar música personalizada en Espacio Calma.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Neville necesita acceso a Calendario para exportar tus notas y actividades de Agenda como eventos.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Neville necesita acceso a Recordatorios para exportar tus notas y actividades de Agenda como recordatorios.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>La Ley usa tus datos de pulso, variabilidad cardiaca, respiración, pasos y entrenamientos para estimar tu activación fisiológica y mostrarte patrones de estrés.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Neville usa tu ubicación para capturar una dirección actual y guardarla en actividades de Agenda o en Notas cuando lo solicites.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Neville export file</string>
			<key>UTTypeIdentifier</key>
			<string>com.ypg.neville.ypgexp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ypgexp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
