//
//  Version.xcconfig
//  Neville_iOS
//
//  Created by Yorjandis PG on 24/3/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

MARKETING_VERSION = 2.0.8
CURRENT_PROJECT_VERSION = 103
